@model IEnumerable<WebPruebaTymesa.Models.Movimientos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cuentas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuentas.Clientes.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cuentas.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipos.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuentas.Clientes.Nombre)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.MovimientosID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovimientosID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovimientosID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
