@model IEnumerable<WebPruebaTymesa.Models.DtoArchivo>

@{
    ViewData["Title"] = "Archivo";
    string format = "dd/MM/yyyy HH:mm:ss";
    var now = DateTime.Now.ToString(format);
}
<div class="row">
    <div class="col-md-4">
        <form method="get" action=@Url.Action("Index", "Bitacora" )>
            <div class="form-group row">
                <label for="exampleInputPassword1">Fecha Inicio</label>
                @Html.TextBox("Fechai", now, new
                {

                    placeholder = "Fecha Inicial",
                    @class = "form-control",
                    @type = "date",
                })
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword1">Fecha Final</label>
                @Html.TextBox("Fechaf", now, new
               {

                   placeholder = "Fecha Final",
                   @class = "form-control",
                   @type = "date",
               })
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword1">Tabla</label>
                @Html.TextBox("Tabla", null, new
                 {                    
                     @class = "form-control"
                 })
            </div>

            <div class="form-group row">
                <label for="exampleInputPassword1">Operacion</label>
                @Html.TextBox("Operacion", null, new
               {
                    @class = "form-control"
               })
            </div>

            <div class="form-group row">
                <label for="exampleInputPassword1">Usuario</label>
                @Html.TextBox("Usuario", null, new
                {
                    @class = "form-control"
                })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h4>Archivo</h4>
        <div class="text-right form-inline">


        </div>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dato)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dato)
                    </td>


                </tr>
            }
        </tbody>
    </table>
